body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: url("/images/img11.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

header {
    background-color:transparent;
    padding: 20px;
    text-align: center;
    color:white;
}

main {
    margin: 20px;
}
.desc p{
    padding:10px ;
    font-size:21px;
    font-weight:600px;
    color:white;
}
.desc .images img{
    height:500px;
    justify-content: space-between;
    width:700px;
    padding-left:70px;
}
section {
    margin-bottom: 20px;
}


